<% if resource.errors.any? %>
  <div class="alert alert-danger mb-3" data-turbo-temporary>
    <ul class="mb-0 ps-3">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
